/* 
reset 
*/

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*
 page 1
*/

.main {
    background-image: url("img/bg01.jpg");
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.spiritHead {
    margin-top: 20px;
    width: 100%;
    height: 48px;
}
.spiritHead h1 {
    color: #eee;
    font-size: 32px;
    font-weight: 200;
    text-align: center;
}
.spiritBody {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.spiritImg {
    margin-top: 20px;
    margin-left: 1%;
    width: 80%;
    height: auto;
}
.spiritImg img {
    width: 60%;
    height: auto;
}
.spiritTxt {
    margin-right: 30px;
    color: #eee;
    font-size: 24px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spiritTxt a {
    padding-top: 20px;
    color: #aaa;
    text-decoration: none;
}